/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* list-style: none; */
}

/* background: linear-gradient(97.01deg, #53B9D9 -6.41%, rgba(20, 77, 101, 0) 110.43%); */

/* root variables */
:root {
  --color-primary: #53b9d9;
  --color-secondary-light: #ffffff;
  --color-secondary-dark: #0e5d80;
  --color-homepage-first-gradient: #10a9da;
  --color-homepage-second-gradient: #92e5ff;
  --color-middle-homepage: #f6f6f6;
  --color-third-homepage: #7edcf9;
  --color-first-footer: #53b9d9;
  --color-second-footer: #144d65;
  --color-headings: #ffffff;
  --color-text: #5b5b5b;
  --color-body: #ffffff;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: 1.7;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  font-size: 700;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

/* container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Button */
.btn {
  outline: 0;
  border: 0;
  padding: 1.3rem 2.5rem;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
  margin: 1rem 0;
  font-size: 1.5rem;
  font-family: "Vazir-Medium";
}

.btn--primary {
  background-color: var(--color-secondary-light);
  color: var(--color-primary);
}

.btn--primary__blue {
  background-color: var(--color-primary);
  color: var(--color-secondary-light);
}

.btn--primary__blue__dark {
  background-color: var(--color-secondary-dark);
  color: var(--color-secondary-light);
}

.btn--secondary {
  background-color: var(--color-secondary-dark);
  color: var(--color-primary);
}

.btn--secondary__white {
  background-color: transparent;
  border: 2px solid var(--color-secondary-light);
  color: var(--color-secondary-light);
}

.btn--secondary__blue {
  background-color: transparent;
  border: 2px solid var(--color-secondary-dark);
  color: var(--color-secondary-dark);
}

.btn--block {
  width: 100%;
  font-size: 1.6rem;
}

/* icons */
.icon {
  width: 24px;
  height: 24px;
}

.icon-container {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20%;
  cursor: pointer;
  box-shadow: 2px 5px 10px -4px rgb(132, 132, 132);
}

@media screen and (min-width: 1024px) {
  .icon-container {
    width: 90px;
    height: 90px;
  }
}

/* Hero section */
.hero-section {
  width: 100%;
  height: 100%;
  background: linear-gradient(243.02deg, #10a9da -9.92%, #92e5ff 150.28%);
}

.hero__title h1 {
  font-size: 3.2rem;
  margin-bottom: 1rem;
}

.hero-section p {
  color: var(--color-headings);
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: justify;
}

.hero__title button {
  font-size: 1.5rem;
}

.hero-section .banner-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  height: 300px;
}

.hero-section .features {
  width: 100%;
  height: 30vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 10rem 6rem;
  margin-top: 5rem;
}

.hero-section .feature__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section .feature__detail span:last-child {
  color: var(--color-headings);
  font-size: 1.5rem;
  margin-top: 1rem;
}

.hero__management {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20rem;
}

.hero__management .management {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
  width: 300px;
}

.management__title p {
  width: 400px;
  text-align: center;
  word-wrap: break-word;
  text-align: center;
}

.hero__management h1 {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 2rem;
}

.hero-section p {
  text-align: center;
  color: var(--color-headings);
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: justify;
}

@media screen and (min-width: 1024px) {
  .hero-section {
    width: 100%;
  }
  .hero__wraper {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .hero__title h1 {
    margin-bottom: 2rem;
    font-size: 6rem;
  }
  .hero__title p {
    margin-bottom: 2rem;
    width: 550px;
    word-wrap: break-word;
  }
  .hero__title button {
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }
  .hero-section .features {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    gap: 10rem 10rem;
    margin-top: 5rem;
  }
  .hero-section .feature__detail span:last-child {
    font-size: 2rem;
  }
  .hero__management {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 4rem;
  }
  .hero-section .hero__management .management {
    margin-top: 1.5rem;
  }
  .management__title {
    margin-bottom: 1rem;
  }
  .management__title p {
    width: 600px;
    text-align: center;
    word-wrap: break-word;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .hero-section .banner-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
  }
  .hero__wraper h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 4rem;
  }

  .hero__wraper p {
    text-align: center;
    margin-bottom: 2rem;
    word-wrap: break-word;
  }
  .hero__title button {
    margin-bottom: 3rem;
    font-size: 1.6rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-section .features {
    gap: 5rem 10rem;
  }
  .hero-section .hero__management {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .hero-section .hero__management .management {
    margin-top: 1.5rem;
  }
  .management__title {
    margin-bottom: 1rem;
  }
  .management__title p {
    width: 550px;
    text-align: center;
    word-wrap: break-word;
  }
}
