/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* list-style: none; */
}

/* background: linear-gradient(97.01deg, #53B9D9 -6.41%, rgba(20, 77, 101, 0) 110.43%); */

/* root variables */
:root {
  --color-primary: #53b9d9;
  --color-secondary-light: #ffffff;
  --color-secondary-dark: #0e5d80;
  --color-homepage-first-gradient: #10a9da;
  --color-homepage-second-gradient: #92e5ff;
  --color-middle-homepage: #f6f6f6;
  --color-third-homepage: #7edcf9;
  --color-first-footer: #53b9d9;
  --color-second-footer: #144d65;
  --color-headings: #ffffff;
  --color-text: #5b5b5b;
  --color-body: #ffffff;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: 1.7;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  font-size: 700;
}

h1 {
  font-size: 2.5rem;
  font-family: "Vazir-Bold";
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

/* container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Button */
.btn {
  outline: 0;
  border: 0;
  padding: 1.3rem 2.5rem;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
  margin: 1rem 0;
  font-size: 1.5rem;
  font-family: "Vazir-Medium";
}

.btn--primary {
  background-color: var(--color-secondary-light);
  color: var(--color-primary);
}

.btn--primary__blue {
  background-color: var(--color-primary);
  color: var(--color-secondary-light);
}

.btn--primary__blue__dark {
  background-color: var(--color-secondary-dark);
  color: var(--color-secondary-light);
}

.btn--secondary {
  background-color: var(--color-secondary-dark);
  color: var(--color-primary);
}

.btn--secondary__white {
  background-color: transparent;
  border: 2px solid var(--color-secondary-light);
  color: var(--color-secondary-light);
}

.btn--secondary__blue {
  background-color: transparent;
  border: 2px solid var(--color-secondary-dark);
  color: var(--color-secondary-dark);
}

.btn--block {
  width: 100%;
  font-size: 1.6rem;
}

/* icons */
.icon {
  width: 24px;
  height: 24px;
}

.icon-container {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20%;
  cursor: pointer;
  box-shadow: 2px 5px 10px -4px rgb(132, 132, 132);
}

@media screen and (min-width: 1024px) {
  .icon-container {
    width: 90px;
    height: 90px;
  }
}

/* Hero section */
.hero-section {
  width: 100%;
  height: 100%;
  background: linear-gradient(243.02deg, #10a9da -9.92%, #92e5ff 190.28%);
}
.hero__title {
  margin-right: 1rem;
}
.hero__title h1 {
  font-size: 3.2rem;
  margin-bottom: 1rem;
}

.hero-section p {
  color: var(--color-headings);
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: justify;
}

.hero__title button {
  font-size: 1.5rem;
}

.hero-section .banner-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  height: 300px;
}

.hero-section .features {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 8rem 2rem;
  margin-top: 5rem;
}

.hero-section .feature__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section .feature__detail span:last-child {
  color: var(--color-headings);
  font-size: 1.5rem;
  margin-top: 1rem;
}

.hero__management {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

.hero__management .management {
  width: 300px;
}

.management__title p {
  width: 300px;
  word-wrap: break-word;
  text-align: justify;
  margin-bottom: 5rem;
}

.hero__management h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  .hero-section {
    width: 100%;
  }
  .hero__wraper {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .hero__title h1 {
    margin-bottom: 2rem;
    font-size: 6rem;
  }
  .hero__title p {
    margin-bottom: 2rem;
    width: 550px;
    word-wrap: break-word;
  }
  .hero__title button {
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }
  .hero-section .features {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    gap: 0 7rem;
    margin-top: 5rem;
  }
  .hero-section .feature__detail span:last-child {
    font-size: 2rem;
  }
  .hero__management {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 5rem;
  }
  .hero__management .management {
    width: 500px;
  }
  .hero-section .hero__management .management {
    margin: 1px 0px 5px 0;
  }
  .management__title {
    margin-bottom: 1rem;
  }
  .management__title h1 {
    font-size: 3rem;
  }
  .management__title p {
    width: 600px;
    font-size: 2rem;
    text-align: center;
    word-wrap: break-word;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .hero-section .banner-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
  }
  .hero__wraper h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 4rem;
  }

  .hero__wraper p {
    text-align: center;
    margin-bottom: 2rem;
    word-wrap: break-word;
  }
  .hero__title button {
    margin-bottom: 3rem;
    font-size: 1.6rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-section .features {
    gap: 5rem 10rem;
  }
  .hero-section .hero__management {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .hero-section .hero__management .management {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
  .management__title {
    margin-bottom: 1rem;
  }
  .management__title h1 {
    font-size: 3rem;
  }
  .management__title p {
    font-size: 2rem;
    width: 600px;
    text-align: center;
    word-wrap: break-word;
  }
}

@media screen and (max-width: 800px) and (min-width: 480px) {
  .hero__title {
    margin-right: 3rem;
  }
}

/* child lock */
.child--lock {
  background-color: var(--color-middle-homepage);
  height: 300px;
}

.lock__wraper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.child__img {
  max-width: 100%;
  height: 240px;
  object-fit: cover;
}

.child--lock__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 0.5rem;
}

.child--lock__details h1 {
  color: var(--color-secondary-dark);
  margin-bottom: 1rem;
  margin-top: 2.5rem;
  font-size: 2rem;
}

.child--lock__details p {
  color: var(--color-text);
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  word-wrap: break-word;
}

.child--lock__details button {
  font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .child--lock__details h1 {
    font-size: 3rem;
  }
  .child--lock__details p {
    font-size: 2rem;
  }
  .child--lock__details button {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .child--lock__details h1 {
    font-size: 2.5rem;
  }
  .child--lock__details p {
    font-size: 1.8rem;
  }
  .child--lock__details button {
    font-size: 1.8rem;
  }
}

/* Manage Mobile */
.manage--mobile {
  background-color: var(--color-body);
  height: 350px;
  display: flex;
}

.manage--mobile__wraper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.manage--mobile__wraper picture {
  width: 100%;
  margin-right: 2rem;
}

.manage--mobile__title {
  margin: 0 2rem 0 0;
}

.manage--mobile__title h1 {
  color: var(--color-secondary-dark);
  margin-bottom: 1rem;
  margin-top: 2.5rem;
  font-size: 1.8rem;
}

.manage--mobile__title p {
  color: var(--color-text);
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  word-wrap: break-word;
  text-align: justify;
}

.manage--mobile__title button {
  font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .manage--mobile {
    width: 100%;
  }
  .manage--mobile__wraper picture {
    width: 100%;
    height: auto;
  }
  .manage--mobile__title {
    text-align: justify;
    margin-right: 25rem;
    width: 100%;
  }
  .manage--mobile__title h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
  }
  .manage--mobile__title p {
    font-size: 2rem;
    text-align: justify;
  }
  .manage--mobile__title button {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .manage--mobile__wraper picture {
    width: 100%;
    height: auto;
  }
  .manage--mobile__title h1 {
    font-size: 2.5rem;
  }
  .manage--mobile__title {
    width: auto;
    text-align: justify;
    margin-right: 2rem;
  }
  .manage--mobile__title p {
    width: auto;
    font-size: 1.8rem;
  }
  .manage--mobile__title button {
    font-size: 1.8rem;
  }
}

/* cover features */
.cover--feature {
  background-color: var(--color-third-homepage);
  height: 700px;
}

.cover--wraper {
  display: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 3rem 0;
}

.cover--feature h1 {
  color: var(--color-secondary-dark);
  padding-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2.5rem;
}

.cover--feature .cover-feature__detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cover--feature .cover-feature__detail img {
  width: 150px;
  height: auto;
}

.cover--feature .cover-feature__detail p {
  width: 98%;
  line-height: 1.7;
  text-align: justify;
  overflow-wrap: break-word;
  margin: 0 2rem 0 2rem;
}

@media screen and (min-width: 1024px) {
  .cover--feature {
    height: 550px;
  }
  .cover--wraper {
    grid-template-columns: repeat(4, 1fr);
  }
  .cover--feature .cover-feature__detail img {
    width: 250px;
    height: auto;
  }
  .cover--feature .cover-feature__detail p {
    width: 80%;
    line-height: 1.7;
    text-align: justify;
    overflow-wrap: break-word;
    margin: 0 2rem 0 2rem;
    font-size: 1.7rem;
  }
  .cover--feature h1 {
    color: var(--color-secondary-dark);
    padding-top: 2rem;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .cover--feature {
    height: 830px;
  }
  .cover--wraper {
    grid-template-columns: repeat(2, 1fr);
  }
  .cover--feature .cover-feature__detail img {
    width: 200px;
    height: auto;
  }
  .cover--feature .cover-feature__detail p {
    width: 40%;
    line-height: 1.7;
    text-align: justify;
    overflow-wrap: break-word;
    margin: 0 2rem 0 2rem;
    font-size: 1.7rem;
  }
  .cover--feature h1 {
    color: var(--color-secondary-dark);
    padding-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 3rem;
  }
}

@media screen and (max-width: 800px) and (min-width: 600px) {
  .cover--feature {
    height: 800px;
  }
  .cover--feature .cover-feature__detail img {
    width: 240px;
    height: auto;
  }
  .cover--feature .cover-feature__detail p {
    width: 60%;
    line-height: 1.7;
    text-align: justify;
    overflow-wrap: break-word;
    margin: 0 2rem 0 2rem;
  }
  .cover--feature h1 {
    color: var(--color-secondary-dark);
    padding-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 3rem;
  }
}
