<section class="main--footer">
      <div class="footer container">
        <div class="footer__items">
          <div class="footer__item">
            <h6>بانواز</h6>
            <a href="#">خانه </a>
            <a href="#"> فروشگاه</a>
            <a href="#"> ورود به داشبورد </a>
          </div>
          <div class="footer__item">
            <h6>فروشگاه</h6>
            <a href="#">دستگاه مرکزی </a>
            <a href="#"> سنسورهای داخلی</a>
            <a href="#">سنسورهای خارجی</a>
          </div>
          <div class="footer__item">
            <h6>بانواز</h6>
            <a href="#">درباره بانواز</a>
            <a href="#">وبلاگ</a>
            <a href="#">موقعیت‌های شغلی</a>
            <a href="#">تماس با ما</a>
          </div>
          <div class="footer__item downloads">
            <h3>دانلود اپلیکیشن</h3>
            <div class="footer__download">
              <img
                src="./assets/images/Download Badge/Google Play Badge.png"
                alt=""
              />
            </div>
            <div class="footer__download">
              <img
                src="./assets/images/Download Badge/App Store Badge.png"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="line"></div>
        <div class="wraper">
          <div class="contact-us__social">
            <span class="icon-container">
              <svg class="icon">
                <use xlink:href="/assets/images/svg-sprite.svg#instagram"></use>
              </svg>
            </span>
            <span class="icon-container">
              <svg class="icon">
                <use xlink:href="/assets/images/svg-sprite.svg#twitter"></use>
              </svg>
            </span>
            <span class="icon-container">
              <svg class="icon">
                <use xlink:href="/assets/images/svg-Sprite.svg#dribbble"></use>
              </svg>
            </span>
            <span class="icon-container">
              <svg class="icon">
                <use xlink:href="/assets/images/svg-sprite.svg#telegram"></use>
              </svg>
            </span>
          </div>
          <p class="copy-right-mobile">تمام حقوق متعلق به بانواز است.</p>
        </div>
      </div>
    </section>s