<section class="hero-section">
  <div class="hero__wraper container">
    <picture>
      <img src="./assets/images/Group-124.png" alt="" class="banner-img" />
    </picture>
    <div class="hero__title">
      <h1>خیالت از خونه راحت!</h1>
      <p>
        بانواز واژه‌ای کردی به معنای باخبر ساختن با صدای بلند است. درست مثل
        بانواز! با سنسورهای بانواز از هیچ اتفاقی بی‌خبر نیستی! چه خونه باشی چه
        نباشی.
      </p>
      <button class="btn btn--primary">فروشگاه بانواز</button>
    </div>
  </div>
  <div class="features container">
    <div class="feature__detail">
      <span class="icon-container">
        <svg class="icon">
          <use
            xlink:href="/assets/images/svg-Sprite.svg#bone-svgrepo-com"
          ></use>
        </svg>
      </span>
      <span>حیوانات</span>
    </div>
    <div class="feature__detail">
      <span class="icon-container">
        <svg class="icon">
          <use
            xlink:href="/assets/images/svg-Sprite.svg#lamp-svgrepo-com"
          ></use>
        </svg>
      </span>
      <span>روشنایی</span>
    </div>
    <div class="feature__detail">
      <span class="icon-container">
        <svg class="icon">
          <use
            xlink:href="/assets/images/svg-Sprite.svg#door-svgrepo-com"
          ></use>
        </svg>
      </span>
      <span>درب و پنجره</span>
    </div>
    <div class="feature__detail">
      <span class="icon-container">
        <svg class="icon">
          <use
            xlink:href="/assets/images/svg-Sprite.svg#plug-svgrepo-com"
          ></use>
        </svg>
      </span>
      <span>وسایل برقی</span>
    </div>
    <div class="feature__detail">
      <span class="icon-container">
        <svg class="icon">
          <use
            xlink:href="/assets/images/svg-Sprite.svg#plant-svgrepo-com"
          ></use>
        </svg>
      </span>
      <span>گل و گیاه</span>
    </div>
    <div class="feature__detail">
      <span class="icon-container">
        <svg class="icon">
          <use
            xlink:href="/assets/images/svg-Sprite.svg#fire-svgrepo-com"
          ></use>
        </svg>
      </span>
      <span>گرمایی</span>
    </div>
  </div>
  <div class="hero__management">
    <picture>
      <img src="./assets/images/Group 2345 1.svg" alt="" class="management" />
    </picture>
    <div class="management__title">
      <h1>مدیریت با دستگاه مرکزی</h1>
      <p>
        بانواز برای مدیریت و کنترل سنسورهای خودش از یک دستگاه مرکزی استفاده
        میکنه که همه چیز تخت کنترل دستگاه مرکزیه. دستگاه به کمک اینترنت به گوشی
        شما متصل میشه و شما میتونین همه جیز رو تخت کنترل خودتون بگیرید.
      </p>
    </div>
  </div>
</section>
