<span class="icon-container">
    <svg class="icon">
      <use xlink:href="/assets/images/svg-Sprite.svg#bone-svgrepo-com"></use>
    </svg>
  </span>
  <span class="icon-container">
    <svg class="icon">
      <use xlink:href="/assets/images/svg-Sprite.svg#lamp-svgrepo-com"></use>
    </svg>
  </span>
  <span class="icon-container">
    <svg class="icon">
      <use xlink:href="/assets/images/svg-Sprite.svg#door-svgrepo-com"></use>
    </svg>
  </span>
  <span class="icon-container">
    <svg class="icon">
      <use xlink:href="/assets/images/svg-Sprite.svg#plug-svgrepo-com"></use>
    </svg>
  </span>
  <span class="icon-container">
    <svg class="icon">
      <use xlink:href="/assets/images/svg-Sprite.svg#plant-svgrepo-com"></use>
    </svg>
  </span>
  <span class="icon-container">
    <svg class="icon">
      <use xlink:href="/assets/images/svg-Sprite.svg#fire-svgrepo-com"></use>
    </svg>
  </span>